USE [master]
GO

CREATE DATABASE [EHIS.DB.TreeView]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EHIS.DB.TreeView].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EHIS.DB.TreeView]
GO
/****** Object:  Table [dbo].[EHIS_Menu]    Script Date: 4/18/2020 3:18:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EHIS_Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](200) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_EHIS_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EHIS_Menu] ON 

INSERT [dbo].[EHIS_Menu] ([Id], [DisplayName], [ParentId]) VALUES (90, N'Menu 1', NULL)
INSERT [dbo].[EHIS_Menu] ([Id], [DisplayName], [ParentId]) VALUES (93, N'Menu 2', NULL)
INSERT [dbo].[EHIS_Menu] ([Id], [DisplayName], [ParentId]) VALUES (97, N'Menu ...', NULL)
SET IDENTITY_INSERT [dbo].[EHIS_Menu] OFF
ALTER TABLE [dbo].[EHIS_Menu]  WITH CHECK ADD  CONSTRAINT [FK_EHIS_Menu_EHIS_Menu] FOREIGN KEY([ParentId])
REFERENCES [dbo].[EHIS_Menu] ([Id])
GO
ALTER TABLE [dbo].[EHIS_Menu] CHECK CONSTRAINT [FK_EHIS_Menu_EHIS_Menu]
GO
USE [master]
GO
